body {
  text-align: right;
}

h2 {
  font-weight: bold;
  margin-bottom: 40px;
}

p, li {
  /* rtl > fixes probelm with punctuation displaying at beginning of sentence. */
  direction: rtl;
}

/********* Custom Classes *********/
.colored-section {
  background-color: #689f38;
  color: white;
}

.white-section {
  background-color: white;
}

.see-more-div {
  text-align: left;
  font-weight: 350;
  text-decoration: underline;
  margin-top: 30px;
}

/************** BOOTSTRAP CLASSES **************/
/* container class provides a responsive fixed width container. The .container-fluid class provides a full width container, spanning the entire width of the viewport. */
/* used in all sections */
.container-fluid {
  padding: 3% 15%;
}

/************** NAVIGATION BAR & TITLE Section **************/
.big-heading {
  text-align: center;
  padding-top: 6%;
}

.nav-item{
  padding-left: 20px;
}

/************** ABOUT US Section **************/
#personal-img {
  height: 230px;
  width: 380px;
  margin-bottom: 10px;
}

.about-us-person-parent-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-us-person-img-div {
  /* hidden -> so Div streches to fit its content (image). */
  overflow: hidden;
}

.about-us-person-text-h3{
  padding-right: 5px;
}

.person-text-ul {
  /* removing bulletpoint, padding & margin before list item */
  list-style: none;
  padding: 10px 20px 10px 10px;
  margin: 0;
}

.person-text-li:before {
  /* inline-block to set height & width for it. */
  content: "-";
  display: inline-block;
  margin-left: 5px;
  /* use before, to have bulletpoint instead of dash */
  /* width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black; */
}

.about-us-company-div {
  margin-top: 50px;
}

/************** OUR SERVICES Section **************/
.services-div {
  text-align: center;
}

.services-icon {
  font-size: 6rem;
  margin: 20px 0;
}

.services-text-div {
  width: 200px;
  margin: 0px auto;
}

/************** PROJECTS & CLIENTS Section **************/
.projects-div {
  text-align: center;
  color: #424242;
}

.project-icon {
  font-size: 5rem;
  margin: 20px 0;
}

.our-clients-h2 {
  margin-top: 50px;
}

.our-clients-imgs-div {
  text-align: center;
}

.client-img {
  height: 160px;
  width: 240px;
  border-style: solid;
  border-radius: 4%;
  border-width: 1.5px;
  border-color: #e0e0e0;
  margin: 8px;
}

/************** CONTACT US Section **************/
#contact-us {
  padding-bottom: 1px;
}

.contact-us-details-div {
  margin: 5px 20px 80px;
  line-height: 1;
}

.copyright-div {
  direction: rtl;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.copyright-p{
  display: inline-block;
  margin-bottom: 1px;
}

.copyright-p-a-div{
  text-align: left;
  padding-left: 10px;
}

.copyright-p-a{
  display: inline-block;
  /* margin-bottom: 5px; */
}

.created-by-a{
  text-decoration: underline;
  color: #4fc3f7;
}
